.login-form {
    max-width: 300px;
    max-height: 500px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  .LoginForm{
    width: 350px;
    align-items:center;
    justify-content:center;
    display: flex;
    background-color: #e6f7ff;
  }
  
  .centerDiv{
    height: 100%;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    display: flex;
  }
  