.login-form {
    max-width: 300px;
    max-height: 500px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  .LoginForm{
    width: 400px;
    height: 400px;
    align-items:center;
    justify-content:center;
    display: flex;
    background-color:#ffffff;
    border:2px solid;
    border-color:#69c0ff;
    border-radius:25px;
  }
  
  .loginDiv{
    width: 100%;
    height: 100%;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    display: flex;
    
  }
  .LoginTitle{
    padding: 40px;
  }
  
  